.numberInput[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none

.numberInput[type="number"]
    background-color: $light-gray
    border: none
    padding: 5px
    text-align: center
    font-size: 1.2em
    font-weight: 550
    width: 2rem
    border-radius: 5px
    color: $red
    &:focus
        outline: none
        border: 1px solid #e7e7e8

    &::placeholder
        opacity: 0.5
        font-weight: 500
