.confirmPopup
    position: absolute
    // right: -10rem
    right: 0
    width: 10rem auto
    height: 10rem auto
    animation: deplacement 0.5s ease-in-out forwards, retour 0.5s ease-in-out 2.6s forwards
    background-color: $gray
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    padding: 1rem
    &__notifIconNotOk
        height: 2rem
        position: absolute
        top: -20%
        left: -8%
        animation-delay: 0.5s
        animation: shakeRed 1s
    &__notifIconOk
        height: 2rem
        position: absolute
        top: -20%
        left: -8%
        animation-delay: 0.5s
        animation: shakeBlue 1s
    &__message
        display: flex
        &_p
            color: white
            font-weight: 600
            font-family: 'nunito', sans-serif
            margin-right: 5px
        &_iconNotOk
            color: $red
        &_iconOk
            color: $green
@keyframes deplacement
    from
        right: -10rem
    to
        right: 0

@keyframes retour
    from
        right: 0
    to
        right: -10rem

@keyframes shakeBlue
    0%
        transform: rotate(0deg)
        color: $blueEdit

    25%
        transform: rotate(-10deg)

    50%
        transform: rotate(10deg)

    75%
        transform: rotate(-10deg)

    100%
        transform: rotate(0deg)
        color: $blueEdit

@keyframes shakeRed
    0%
        transform: rotate(0deg)
        color: $red

    25%
        transform: rotate(-10deg)

    50%
        transform: rotate(10deg)

    75%
        transform: rotate(-10deg)

    100%
        transform: rotate(0deg)
        color: $red
